<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="proyecto_w.arch_config" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings />
    <applicationSettings>
        <proyecto_w.arch_config>
            <setting name="strConn" serializeAs="String">
                <value>user id=gd;password=gd2013;server=.\SQLSERVER2008;Trusted_Connection=yes;database=GD2C2013;</value>
            </setting>
            <setting name="fecha" serializeAs="String">
                <value>2014-01-01 11:00:00.000</value>
            </setting>
        </proyecto_w.arch_config>
    </applicationSettings>
</configuration>